<h1>Products</h1>
<a href="/products/add">Add product</a>
{{#products}}
  <h2>{{description}}</h2>
  <a href="/products/edit/{{id}}">Edit</a>
  <a href="/products/delete/{{id}}">Delete</a>
{{/products}}

{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}
