body {
	background-color: dodgerblue;
	font-family: "Arial";
	margin: 0px;
	padding: 0px;
}

#container{
	margin: 0 auto;
	width: 80%;
	background-color: #FFF;
	margin-top: 2em;
	padding: 1em;
}

#add-products {
	border : 1em solid;
	width: 50%;
	padding: 15px;
}

label {
	font-weight: bold;
}

select {
	padding: 0.2em;
	font-size: 1.5em;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

input[type=text], input[type=number] {
	padding: 0.2em;
	font-size: 1.5em;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

input[type=submit] {
	padding: 1em;
  	border: 0.3em solid #000;
	font-weight: bold;
	font-size: 1em;
};

.field > label {
	width: 10px;
}

#nav li {
	display: inline;
}

#nav a:link,
#nav a:visited {
	color:#000;
	background: dodgerblue;
	padding: 1em 1em 1em 1em;


}
