body {
	background-color: dodgerblue;
	font-family: "Arial";
	margin: 0px;
	padding: 0px;
}

#container{
	margin: 0 auto;
	width: 80%;
	height: 600px;
	background-color: #FFF;
	margin-top: 50px;
	padding: 15px;
}

#add-products {
	border : 1px solid;
	width: 50%;
	padding: 15px;
}

input[type=text] {
	margin: 10px;
	padding: 10px;
	font-size: 20px;
}

input[type=submit] {
	padding: 13px;
  	border: 2px solid #000;  	
};

