<h1>Edit</h1>

<form action="/categories/update/{{data.id}}" method="POST">

	<div class="">
		<label for="">Description</label>
		<input type="text" name="description" value="{{data.description}}">
	</div>

	<input type="submit">
</form>
