<h1>Categories</h1>

<a href="/categories/add">Add</a>

{{#each categories}}
  <h2>{{description}}</h2>
  <a href="/categories/edit/{{this.id}}">Edit</a>
  <a href="/categories/delete/{{this.id}}">Delete</a>
{{/each}}

{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}
